@font-face{
	font-family: brighly_crush;
	src: url("/home/codesat/webpage/font/brighly_crush/Brightly Crush Shine.otf");
}
body {
	background-color: black;

}
h1 {
	text-align: center;
	color: white;
	font-family: brighly_crush;
}
figure {
	color: whitesmoke;
	font-family:cursive;
	font-style: italic;
	text-align: center;
}
img {
	display: block;
	margin: 10% auto auto auto;
	
}